In [27]:
import pandas as pd
import re
df_root = pd.read_csv('C:/Users/lui-m/Documents/GitHub/DS_Notebooks/ComunidadeDS/FTC_Python/datasets/train.csv')
df_root.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30

In [155]:
# Fazendo cópia do dataframe lido
df = df_root.copy()

# Removendo espaço da string
for i in range(len(df)):
    df.loc[i, 'ID'] = df.loc[i, 'ID'].strip()
    df.loc[i, 'Delivery_person_ID'] = df.loc[i, 'Delivery_person_ID'].strip()
    df.loc[i, 'Road_traffic_density'] = df.loc[i, 'Road_traffic_density'].strip()
    df.loc[i, 'Type_of_order'] = df.loc[i, 'Type_of_order'].strip()
    df.loc[i, 'Type_of_vehicle'] = df.loc[i, 'Type_of_vehicle'].strip()
    
# Excluindo as linhas com a idade dos entregadores vazia
linhas_nao_vazias = df['Delivery_person_Age'] != 'NaN '
df = df.loc[linhas_nao_vazias, :]

# Conversao de texto/categoria/string para numeros inteiros
df['Delivery_person_Age'] = df['Delivery_person_Age'].astype(int)

# Conversao de texto/categoria/string para numeros decimais
df['Delivery_person_Ratings'] = df['Delivery_person_Ratings'].astype(float)

# Conversao de texto para data
df['Order_Date'] = pd.to_datetime(df['Order_Date'], format='%d-%m-%Y')

# Remove as linhas da coluna multiple_deliveries que tenham o conteúdo igual a 'NqN ' e fazendo o cast para inteiro
linhas_nao_vazias = df['multiple_deliveries'] != 'NaN '
df = df.loc[linhas_nao_vazias, :]
df['multiple_deliveries'] = df['multiple_deliveries'].astype(int)

# Removendo texto de números e resetando index
df = df.reset_index(drop=True)
for i in range(len(df)):
    df.loc[i, 'Time_taken(min)'] = re.findall(r'\d+', df.loc[i, 'Time_taken(min)'])

### 1. Qual o número total de entregas cadastradas na base de dados?

In [29]:
# Nós podemos olhar o número total de entregadores cadastrados vendo quantas linhas tem o dataframe
total_entregas = df.shape[0]
print(f'O numero total de entregas cadastradas é {total_entregas}')

O numero total de entregas cadastradas é 42805

### 2. Qual o número total de entregadores únicos cadastrados na base de dados?

In [30]:
# Para separar o número total de entregadores únicos, devemos separar pela coluna Delivery_person_ID
numero_entregadores_unicos = df['Delivery_person_ID'].unique()
print(f'O numero total de entregadores únicos cadastrados é {len(numero_entregadores_unicos)}')

# Também podemos fazer assim:
numero_entregadores_unicos = df['Delivery_person_ID'].nunique()
print(f'O número total de entregadores únicos cadastrados é {numero_entregadores_unicos}')

O numero total de entregadores únicos cadastrados é 1320
O número total de entregadores únicos cadastrados é 1320

### 3. Qual a idade do entregador mais velho? E do mais novo?

In [31]:
# Agora utilizando as funções min() e max() para achar os maiores e menores valores
maior_idade = df['Delivery_person_Age'].max()
menor_idade = df['Delivery_person_Age'].min()

print(f'A idade do entregador mais velho é {maior_idade}')
print(f'A idade do entregador mais novo é {menor_idade}')

A idade do entregador mais velho é 50
A idade do entregador mais novo é 15

In [32]:
# Temos duas linhas de comando muito parecidas mas que fazem coisas diferentes:
df['Delivery_person_Age'].sort_values() #usar sorting_values em uma coluna

34851    15
37825    15
19987    15
14224    15
33828    15
         ..
27769    50
25607    50
38586    50
17868    50
23464    50
Name: Delivery_person_Age, Length: 42805, dtype: int32

In [33]:
df.sort_values('Delivery_person_Age', ascending=True) # usar sorting_values no dataframe todo a partir de uma coluna

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
34851,0x451,HYDRES14DEL03,15,1.0,-17.426228,-78.407495,17.486228,78.467495,2022-03-19,NaN,19:05:00,conditions NaN,NaN,3,Buffet,electric_scooter,1,No,Urban,[30]
37825,0x442,CHENRES16DEL02,15,1.0,-13.049645,-80.242268,13.129645,80.322268,2022-03-08,NaN,23:05:00,conditions NaN,NaN,3,Snack,bicycle,0,No,Metropolitian,[25]
19987,0x3fc,BANGRES16DEL02,15,1.0,13.029198,77.570997,13.159198,77.700997,2022-03-06,NaN,17:15:00,conditions NaN,NaN,3,Drinks,electric_scooter,0,No,Metropolitian,[28]
14224,0x18b0,RANCHIRES02DEL01,15,1.0,0.000000,0.000000,0.070000,0.070000,2022-03-16,NaN,23:55:00,conditions NaN,NaN,3,Meal,bicycle,1,No,Metropolitian,[21]
33828,0xdc0,COIMBRES03DEL03,15,1.0,11.025083,77.015393,11.085083,77.075393,2022-03-03,NaN,18:55:00,conditions NaN,NaN,3,Meal,motorcycle,1,No,Metropolitian,[28]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27769,0x480,BANGRES15DEL01,50,6.0,-12.975377,-77.696664,13.015377,77.736664,2022-03-01,NaN,13:55:00,conditions NaN,NaN,3,Drinks,electric_scooter,1,No,Metropolitian,[15]
25607,0x3f4,COIMBRES20DEL02,50,6.0,-10.994136,-76.963303,11.074136,77.043303,2022-03-06,NaN,17:20:00,conditions NaN,NaN,3,Drinks,electric_scooter,0,No,NaN,[17]
38586,0x4e4,VADRES17DEL01,50,6.0,0.000000,0.000000,0.110000,0.110000,2022-03-20,NaN,21:55:00,conditions NaN,NaN,3,Meal,scooter,1,Yes,Metropolitian,[48]
17868,0xc363,BHPRES08DEL03,50,6.0,23.232537,77.429845,23.322537,77.519845,2022-02-18,NaN,21:25:00,conditions NaN,NaN,3,Buffet,scooter,1,No,Metropolitian,[17]
23464,0xbf34,KNPRES16DEL02,50,6.0,26.482581,80.315628,26.612581,80.445628,2022-02-12,NaN,18:30:00,conditions NaN,NaN,3,Buffet,scooter,1,No,Metropolitian,[41]

### 4. Qual o ID do entregador com a maior idade? E o ID do entregaor com a menor idade?

In [34]:
df_maior_idade = df.loc[df['Delivery_person_Age'] == maior_idade]
print("Estes são os ID's dos estregadores com a maior idade:")
df_maior_idade[['Delivery_person_ID', 'Delivery_person_Age']]

Estes são os ID's dos estregadores com a maior idade:

      Delivery_person_ID  Delivery_person_Age
3357      BANGRES05DEL01                   50
4405       HYDRES17DEL01                   50
4842       JAPRES08DEL01                   50
5021      BANGRES19DEL01                   50
5293       AGRRES13DEL02                   50
5994       JAPRES06DEL02                   50
6590       MYSRES15DEL02                   50
7204       VADRES09DEL01                   50
8918     BANGRES010DEL01                   50
8952    RANCHIRES13DEL01                   50
9486       MYSRES04DEL01                   50
10085      DEHRES18DEL02                   50
11555      SURRES02DEL02                   50
12452    COIMBRES03DEL02                   50
12826   RANCHIRES01DEL02                   50
13257      MYSRES06DEL02                   50
14021     CHENRES19DEL01                   50
14055      HYDRES14DEL01                   50
15806   RANCHIRES06DEL02                   50
16134    COIMBRES07DEL01                   50
16668    CHENRES010DEL01                   50
17868      BHPRES08DEL03                   50
18245     INDORES02DEL03                   50
19081      ALHRES01DEL02                   50
20079      HYDRES06DEL01                   50
21121      ALHRES08DEL03                   50
22017     BANGRES05DEL03                   50
22822      SURRES13DEL01                   50
23464      KNPRES16DEL02                   50
23812    COIMBRES08DEL03                   50
24525   RANCHIRES09DEL02                   50
25607    COIMBRES20DEL02                   50
25776      MUMRES20DEL03                   50
26636     BANGRES13DEL01                   50
27254     CHENRES04DEL01                   50
27769     BANGRES15DEL01                   50
28736      BHPRES20DEL03                   50
29072      MUMRES20DEL01                   50
29346      VADRES09DEL02                   50
30363      KNPRES03DEL03                   50
31491      KOLRES06DEL02                   50
32582      AGRRES20DEL03                   50
35699      DEHRES13DEL01                   50
35712     CHENRES14DEL02                   50
36215      VADRES09DEL03                   50
36296      MUMRES07DEL03                   50
37270   RANCHIRES14DEL03                   50
37765      MYSRES04DEL03                   50
38586      VADRES17DEL01                   50
39389      KNPRES19DEL03                   50
39489     INDORES11DEL03                   50
40202     BANGRES12DEL01                   50
42556      VADRES04DEL02                   50

In [35]:
df_menor_idade = df.loc[df['Delivery_person_Age'] == menor_idade]
print("Estes são os ID's dos estregadores com a menor idade:")
df_menor_idade[['Delivery_person_ID', 'Delivery_person_Age']]

Estes são os ID's dos estregadores com a menor idade:

      Delivery_person_ID  Delivery_person_Age
2236       JAPRES15DEL03                   15
2717     INDORES010DEL03                   15
2761       SURRES17DEL03                   15
5531      CHENRES15DEL03                   15
8595      BANGRES05DEL01                   15
10241      MUMRES14DEL02                   15
10457      SURRES12DEL01                   15
11361     INDORES03DEL02                   15
14224   RANCHIRES02DEL01                   15
14981     CHENRES08DEL02                   15
15130      MUMRES02DEL01                   15
15488      MYSRES05DEL03                   15
19987     BANGRES16DEL02                   15
21004   RANCHIRES09DEL01                   15
21701      VADRES17DEL01                   15
22122      SURRES07DEL02                   15
22268     BANGRES17DEL02                   15
22286     CHENRES04DEL01                   15
24360     CHENRES15DEL03                   15
25070     INDORES15DEL02                   15
25332     CHENRES06DEL03                   15
25517     BANGRES02DEL02                   15
26283     CHENRES07DEL03                   15
26339     PUNERES14DEL01                   15
27885      MYSRES19DEL02                   15
29330      JAPRES11DEL01                   15
30024     PUNERES05DEL02                   15
31177     CHENRES03DEL02                   15
32834    COIMBRES17DEL02                   15
33828    COIMBRES03DEL03                   15
34851      HYDRES14DEL03                   15
35392     PUNERES20DEL02                   15
36693    COIMBRES07DEL02                   15
36699      MYSRES05DEL01                   15
37825     CHENRES16DEL02                   15
38717    COIMBRES14DEL02                   15
41688      VADRES04DEL01                   15
42129     CHENRES02DEL02                   15

### 5. Quais os nomes das condições climáticas?

In [36]:
df['Weatherconditions'].unique()

array(['conditions Sunny', 'conditions Stormy', 'conditions Sandstorms',
       'conditions Cloudy', 'conditions Fog', 'conditions Windy',
       'conditions NaN'], dtype=object)

### 6. Quantas entregas foram realizadas sob condições climáticas de tempestade de areia? ( Sandstorms )

In [37]:
df_tempestade_areia = df.loc[df['Weatherconditions'] == 'conditions Sandstorms']
print(f"O número de entregas realizadas sob condições climáticas de tempestade de areia foram: {len(df_tempestade_areia)}")

O número de entregas realizadas sob condições climáticas de tempestade de areia foram: 7083

### 7. Quais eram as condicões climáticas da data mais recente de entrega?

In [38]:
# Primeiro ordenados a data mais recente
df_mais_recente = df.sort_values('Order_Date', ascending=False)
df_mais_recente.iloc[0,11]

'conditions Windy'

### 8. Quantos tipos de densidade de trânsito existem na base de dados? Quais os nomes delas?

In [39]:
df['Road_traffic_density'].unique()

array(['High ', 'Jam ', 'Low ', 'Medium ', 'NaN '], dtype=object)

### 9. Quantas entregas foram feitas em cada condição climática?

In [40]:
# Criando uma lista de condições climáticas
condicoes_climaticas = list(df['Weatherconditions'].unique() )

# Percorrendo essa lista de condições climáticas e usando shape para saber o número de entregas
for condicao in condicoes_climaticas:
    numero_entregas = df.loc[df['Weatherconditions'] == condicao].shape[0]
    print(f'O número de entregas feitas na condição climática {condicao} foi igual a: {numero_entregas}')

O número de entregas feitas na condição climática conditions Sunny foi igual a: 6904
O número de entregas feitas na condição climática conditions Stormy foi igual a: 7226
O número de entregas feitas na condição climática conditions Sandstorms foi igual a: 7083
O número de entregas feitas na condição climática conditions Cloudy foi igual a: 7135
O número de entregas feitas na condição climática conditions Fog foi igual a: 7288
O número de entregas feitas na condição climática conditions Windy foi igual a: 7078
O número de entregas feitas na condição climática conditions NaN foi igual a: 91

### 10. Quantos entregadores únicos fizeram entregas em cada condição climática?

In [41]:
for condicao in condicoes_climaticas:
    entregadores_unicos_por_clima = len(df.loc[df['Weatherconditions'] == condicao, 'Delivery_person_ID'].unique())
    print(f'{entregadores_unicos_por_clima} entregadores únicos fizeram entregas na condição {condicao}')

1233 entregadores únicos fizeram entregas na condição conditions Sunny
1234 entregadores únicos fizeram entregas na condição conditions Stormy
1239 entregadores únicos fizeram entregas na condição conditions Sandstorms
1246 entregadores únicos fizeram entregas na condição conditions Cloudy
1251 entregadores únicos fizeram entregas na condição conditions Fog
1230 entregadores únicos fizeram entregas na condição conditions Windy
87 entregadores únicos fizeram entregas na condição conditions NaN

### 11. Quantas entregas foram feitas em cada tipo de densidade de trânsito?

In [42]:
# Criando uma lista de condições climáticas
densidades_transito = list(df['Road_traffic_density'].unique() )

# Percorrendo essa lista de condições climáticas e usando shape para saber o número de entregas
for densidade in densidades_transito:
    numero_entregas = df.loc[df['Road_traffic_density'] == densidade].shape[0]
    print(f'O número de entregas feitas na densidade de trânsito {densidade} foi igual a: {numero_entregas}')

O número de entregas feitas na densidade de trânsito High  foi igual a: 4212
O número de entregas feitas na densidade de trânsito Jam  foi igual a: 13480
O número de entregas feitas na densidade de trânsito Low  foi igual a: 14605
O número de entregas feitas na densidade de trânsito Medium  foi igual a: 10417
O número de entregas feitas na densidade de trânsito NaN  foi igual a: 91

### 12. Quantos entregadores únicos fizeram entregas em cada tipo de densidade de trânsito?

In [43]:
for densidade in densidades_transito:
    entregadores_unicos_por_densidade = len(df.loc[df['Road_traffic_density'] == densidade, 'Delivery_person_ID'].unique())
    print(f'{entregadores_unicos_por_densidade} entregadores únicos fizeram entregas na densidade {densidade}')

787 entregadores únicos fizeram entregas na densidade High
1306 entregadores únicos fizeram entregas na densidade Jam
1310 entregadores únicos fizeram entregas na densidade Low
1287 entregadores únicos fizeram entregas na densidade Medium
87 entregadores únicos fizeram entregas na densidade NaN

### 13. Quantas cidades únicas existem na base? Quais são os seus nomes?

In [44]:
df['City'].unique()

array(['Urban ', 'Metropolitian ', 'Semi-Urban ', 'NaN '], dtype=object)

### 14. Quantos tipos de veículos únicos existem na base?

In [45]:
df['Type_of_vehicle'].unique()

array(['motorcycle ', 'scooter ', 'electric_scooter ', 'bicycle '],
      dtype=object)

### 15. Qual o tipo de veículo que mais fez entregas com a condição de trânsito pesado? ( High )

In [151]:
tipos_veiculos = list(df['Type_of_vehicle'].unique())
total_entregas_15 = 0
tipo_veiculo_15 = ''

for veiculo in tipos_veiculos:
    filtro = (df['Type_of_vehicle'] == veiculo) & (df['Road_traffic_density'] == 'High')
    
    tipo_veiculo_entregas = df.loc[filtro, :].shape[0]
    
    print(f'{veiculo} -> {tipo_veiculo_entregas}')
    
    if total_entregas_15 < tipo_veiculo_entregas:
        total_entregas_15 = tipo_veiculo_entregas
        tipo_veiculo_15 = veiculo
        
print(f'Maior : {tipo_veiculo_15} -> {total_entregas_15}')

motorcycle  -> 2481
scooter  -> 1399
electric_scooter  -> 332
bicycle  -> 0
Maior : motorcycle  -> 2481

### 16. Qual o tipo de pedido mais feito durante condições climáticas de tempestade de areia?

In [133]:
tipos_pedidos = list(df['Type_of_order'].unique())
total_entregas = 0
tipo_pedido = ''

for pedido in tipos_pedidos:
    filtro = (df['Type_of_order'] == pedido) & (df['Weatherconditions'] == 'conditions Sandstorms')
    
    tipo_pedido_entregas = df.loc[filtro, :].shape[0]
    
    print(f'{pedido} -> {tipo_pedido_entregas}')
    if total_entregas < tipo_pedido_entregas:
        total_entregas = tipo_pedido_entregas
        tipo_pedido = pedido
        
print(f'O tipo de pedido mais feito durante tempestade de areia é o {tipo_pedido}, com um total de {total_entregas} entregas')

Snack  -> 1805
Drinks  -> 1734
Buffet  -> 1732
Meal  -> 1812
O tipo de pedido mais feito durante tempestade de areia é o Meal , com um total de 1812 entregas

### 17. Qual a cidade com o maior número de pedidos de Bebidas (Drinks) feito em Scooter?

In [169]:
cidades = list(df['City'].unique())
mais_pedidos = 0
maior_cidade = ''
for cidade in cidades:
    print(cidade)
    filtro = (df['City'] == cidade) & (df['Type_of_vehicle'] == 'scooter') & (df['Type_of_order'] == 'Drinks')
    
    cidade_drinks_scooter = df.loc[filtro, :].shape[0]
    if cidade_drinks_scooter > mais_pedidos:
        mais_pedidos = cidade_drinks_scooter
        maior_cidade = cidade
print(f'A cidade com maior número de pedidos Drinks feitos em Scooter foi: {maior_cidade} com {mais_pedidos} pedidos')

Urban
Metropolitian
Semi-Urban
NaN
A cidade com maior número de pedidos Drinks feitos em Scooter foi: Metropolitian  com 2655 pedidos

### 18. Qual o nome da cidade com o (os) entregador mais velho? E o nome da cidade com o (os) entregadores mais novos?

In [70]:
id_entregador_mais_velho = df_maior_idade.iloc[0, 1]
cidade_mais_velho = df.loc[df['Delivery_person_ID'] == id_entregador_mais_velho, 'City']
cidade_mais_velho.iloc[0]

'Metropolitian '

In [71]:
id_entregador_mais_novo = df_menor_idade.iloc[0, 1]
cidade_mais_novo = df.loc[df['Delivery_person_ID'] == id_entregador_mais_novo, 'City']
cidade_mais_novo.iloc[0]

'Metropolitian '

### 19. Quantas entregas foram feitas durante o Festival?

In [103]:
df['Festival'] = df['Festival'].astype(str)
total_entregas = df.loc[df['Festival'] == 'Yes '].shape[0]
print(f'O numero de entregas realizadas durante o Festival foi de: {total_entregas}')

O numero de entregas realizadas durante o Festival foi de: 848

### 20. Quantas cidades únicas tiveram entregas feitas durante o Festival?

In [112]:
cidades = list(df['City'].unique())

for cidade in cidades:
    entregas_cidade = (df['City'] == cidade) & (df['Festival'] == 'Yes ')
    df_cidades = df.loc[entregas_cidade, :].shape[0]
    print(f'Cidade - {cidade} teve {df_cidades}')

Cidade - Urban  teve 109
Cidade - Metropolitian  teve 687
Cidade - Semi-Urban  teve 39
Cidade - NaN  teve 13

### 21. Quantas entregas foram feitas durante o Festival na cidade chamada Urban ("Urban")?

In [116]:
filtro = (df['Festival'] == 'Yes ') & (df['City'] == 'Urban ')
df_festival_urban = df.loc[filtro, :]
df_festival_urban.shape[0]

109